################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A01/.vs/A01/v15/Server/sqlite3/db.lock
